@import url('main.css');

:root {
	--cmdBlue: #0000ff;
	--cmdGreen: #00ff00;
	--cmdRed: #ff0000;
}

.cmdBlue {
	color: var(--cmdBlue);
}

.cmdGreen {
	color: var(--cmdGreen);
}

.cmdRed {
	color: var(--cmdRed);
}

body {
	display: flex;
	flex-flow: column;
	overflow:hidden;
	background:rgb(36, 32, 43);
	font-family: "moderndos";

	line-height: 19px;
}

.desktop-window-header {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-content:center;
	height:40px;
	cursor: move;
	background-color: rgb(35, 39, 43);
	color: white;

	border: 2px solid rgb(53, 48, 62);
	border-radius:8px 8px 0px 0px;

	cursor:default;
	cursor:-moz-default;
	cursor:-webkit-default;

	font-weight: bold;
}

.desktop-window-header span {
	margin-top:-2px;
}

.desktop-window-header span, .desktop-window-icon {
	-moz-user-select: none;
	user-select: none;
	pointer-events: none;
}

.desktop-window-icon {
	filter: contrast(200%) invert(100%);
}

.close-window {
	padding: 2px;

	cursor:pointer;
	cursor:-moz-pointer;
	cursor:-webkit-pointer;
}

.close-window img {
	filter: invert(100%);
}

.close-window:hover {
	filter: brightness(0) saturate(100%) invert(58%) sepia(67%) saturate(4522%) hue-rotate(323deg) brightness(101%) contrast(105%);
}

#screen {
	border: 2px solid rgb(53, 48, 62);
	border-radius:0px 0px 8px 8px;

	background: black;
	width:60vw; height:80vh;
}

.blinkCursor {
	background: white;

	animation: blinkCursor 0.8s linear infinite;
	animation-play-state: running;
}

p {
	user-select: none;
	-moz-user-select: none;
}

@keyframes blinkCursor {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1365px) {
	#screen {
		width:90vw; height:90vh;
	}
}