/*
    Developer Style Sheet, used to layout
*/

.headerBtns {
    /*
    border: 1px dashed greenyellow;
    border-top: 1px dashed greenyellow;
    border-bottom: 1px dashed greenyellow;
    border-left: 1px dashed greenyellow;
    border-right: 1px dashed greenyellow;
    */
}