/* ? Border for debugging replace with element to debug, comment if needed */
/* .mainBody {
	border: lightgreen dashed 1px;
} */

/* 

Credits:

Azland Studio -> Sidebar button icon

*/

#mainBody {
	background-color: rgb(0,0,0,0.5);
	padding: 5px;
}

#sidebarContainer {
	display: flex;
	flex-flow: row;
	position: relative;
	transition: 0.5s ease-in-out;
	width:40px;
}

#sidebarNav {
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: stretch;
	left: -210px;
	flex-shrink: 0;
	padding: 5px;
	width: 250px;
	transition: 0.5s ease-in-out;
}

#sidebarBtn {
	width: 28px;
	height: 28px;
	background: none;
	border: none;
}

#sidebarBtn img {
	filter: invert(100%);
}

#mainArea {
	flex: 1;
}

.menuTab {
	width: 150px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}