
@import url('main.css');

/* 

? Credits:

? Icons taken from flaticon.com:

* Freepik -> Desktop Icons, Taskbar Gmail Icon
* riajulislam -> Taskbar Linkedin Icon
* Pixel perfect -> Taskbar Github Icon
* Arkinasi -> 404 page terminal icon
* Flat Icons -> Gamepad icon

? Color Palette Sources:

* https://colorhunt.co/
* https://coolors.co/palettes/trending

*/

:root {
	--taskbarHeight: 45px;
	--hoverColor: #FFFFFF0F;
	--hoverBorder: #FFFFFF10;
	--activeColor: #92acff23;
	--activeBorder: #92acff50;

	--desktopWindowRadius: 8px;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/desktop_bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	filter: blur(6px) contrast(115%);
	z-index: -1;
}

#loading-screen {
	position: absolute;
	/* font-family: "bender", monospace; */
	background: black;
	width:100vw;
	height:100vh;
	z-index: 9998;
	transition: opacity ease-in-out 1s;
}

#loading-screen * {
	margin: 65px;
	user-select: none;
	-moz-user-select: none;
}

#loading-screen h1 {
	font-size: 5rem;
	font-family: 'bender', monospace;
}

#loading-pfp {
	height: 270px;
	transition: opacity ease-in-out 0.5s;
}

/* loadign spinner icon taken from https://css-loaders.com/spinner/ */
/* HTML: <div class="loader"></div> */
.loader {
	width: 40px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 8px solid;
	border-color: white #0000;
	animation: l1 0.75s infinite;
	transition: opacity ease-in-out 0.5s;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

.context-menu {
    position: fixed;
    background: white;
	color: black;
    border: 1px solid #ccc;
	border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: none;
    z-index: 3000;
}

.context-menu-item {
    padding: 4px 8px;
    cursor: pointer;
	font-size: 0.9rem;
}

.context-menu-item:hover {
    background: #f0f0f0;
}

.desktop-empty {
	z-index: 1;
	margin: 8px;
	width: 75px;
}

.desktop-app {
	position:relative;
	z-index:1;
	margin: 8px;
	height: auto;
	width:75px;
	background: none;
	border: 1px solid transparent;
	text-decoration: none;
}

.desktop-app img {
	height:35px;
	width: 35px;
	margin: 5px;
	user-select: none;
	-moz-user-select: none;
}

.desktop-app p {
	color: white;
	font-size: 80%;
	margin-bottom:5px;
	line-height: 1.2;
	text-align: center;
	user-select: none;
	-moz-user-select: none;
}

.desktop-app button {
	background: transparent;
	border: none;
}

.desktop-app button:hover {
	border: 1px solid var(--hoverBorder);
	background:var(--hoverColor);
}

.desktop-app button:active {
	border: 1px solid var(--activeBorder);
	background:var(--activeColor);
}

.desktop-app-selected {
	border: 1px solid var(--activeBorder);
	background:var(--activeColor);
}

.desktop-window {
	position: absolute;
	flex-flow: column;
	z-index: 9;
	background: rgb(35, 39, 43);
	border-radius: var(--desktopWindowRadius);
	border: 2px solid black;
	color:black;
	overflow:hidden;

	scrollbar-width: thin;
	scrollbar-color: rgb(35, 39, 43) white;

	transition: opacity ease-in-out 80ms;

	font-family: 'unageo'
}

.desktop-window-header {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-content:center;
	height:40px;
	cursor: move;
	background: rgb(35, 39, 43);
	color: white;

	border: 0px 0px 1px 0px black solid;

	cursor:grab;
	cursor:-moz-grab;
	cursor:-webkit-grab;

	font-weight: bold;
}

.desktop-window-header:active {
	cursor:grabbing;
	cursor:-moz-grabbing;
	cursor:-webkit-grabbing;
}

.desktop-window-header span {
	margin-top:-2px;
}

.desktop-window-header span, .desktop-window-icon {
	-moz-user-select: none;
	user-select: none;
	pointer-events: none;
}

.desktop-window-content {
	background: #f1f1f1;
	font-family: "unageo";
	font-size: 1.1rem;
}

.window-actions {
	padding: 6px;
}

.window-actions img {
	filter: invert(100%);
}

#close-window:hover {
	filter: brightness(0) saturate(100%) invert(58%) sepia(67%) saturate(4522%) hue-rotate(323deg) brightness(101%) contrast(105%);
}

#minimize-window:hover {
	filter: brightness(0) saturate(100%) invert(100%) sepia(26%) saturate(5868%) hue-rotate(311deg) brightness(122%) contrast(114%);
}

.taskbar {
	height: var(--taskbarHeight);
	background: black;
}

/* ? this points to the screen outside of the taskbar menu, when clicked it should close the taskbar */
#start-menuScreen {
	z-index: 2000;
	position:fixed;
	bottom: 0px;
	height: 100vh;
	width: 100vw;
}

#start-menu {
	z-index: 2005;
	position: fixed;
	bottom:var(--taskbarHeight);
	background: black;
	height: 65vh;
	width: 25vw;

	border-top-right-radius: 8px;
}

#start-pfp {
	width: 15%;;
	padding: 0;
	margin: 0;
}

#start-container {
	/* background: #585f6c; */
	background: #FFFFFF15;
	color: white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.start-app {
	z-index:1;
	background: none;
	border: 1px solid transparent;
	text-decoration: none;
}

.start-app img {
	height:25px;
	width: 25px;
	margin: 5px;
	user-select: none;
	-moz-user-select: none;
}

.start-app p {
	color: white;
	font-size: 80%;
	margin-bottom:5px;
	line-height: 1.2;
	text-align: center;
	user-select: none;
	-moz-user-select: none;
}

.start-app:hover {
	/* border: 1px solid var(--hoverBorder); */
	background:var(--hoverColor);
}

.start-app:active {
	/* border: 1px solid var(--activeBorder); */
	background:var(--activeColor);
}

.start-app-selected {
	/* border: 1px solid var(--activeBorder); */
	background:var(--activeColor);
}

#taskbar-apps {
	transition: ease-in-out 0.2s;
}

#start-button {
	width: var(--taskbarHeight);
	height:var(--taskbarHeight);
	margin:0;
	border: none;
	background: none;
}

#start-button span {
	width:100%;
	height: 100%;
	color: white;
	font-family: 'bender', monospace;
}

#start-button:hover {
	background: #FFFFFF15;
}

.taskbar-icon {
	background:black;
	transition: background ease-in-out 5ms;
}

.taskbar-icon:hover {
	background: #FFFFFF15;
}

.taskbar-icon img {
	user-select: none;
	-moz-user-select: none;
}

#taskbar-time p {
	user-select: none;
	-moz-user-select: none;
	font-size: 0.8rem;
}


#about-header {
	font-family: 'bender';
	color: white;
	background:url('../images/webres_bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 8px 8px 0px 0px;
	
	user-select: none;
	-moz-user-select: none;
}

#about-header h1 {
	font-size: 3rem;
	text-shadow: 2px 2px 2px black;
}

#commit-hist {
	border-radius: 0;
	background: #393E46;

	color: white;
}

#commit-hist img {
	filter: invert(100%) contrast(150%);
	width: 100%;
}

#about-content {
	/* background: #dee2e6; */
	background: #585f6c;
	color: #dee2e6;
	border-radius: 0px 0px 8px 8px;
	
	/* height: 30rem; */
}

#about-content p {
	text-indent: 1cm;
	text-align: justify;
	text-justify: inter-word;
	padding: 0;
	margin: 0;
}

/* Github Project Style One:  */

.github-card {
	background: #393E46;
	border: 1px solid #222831;

	color: white;
	border-radius: 6px;
}

.github-card-button {
	background: #5C8374;
	border: 1px solid #9EC8B9;
	border-radius: 4px;

	text-decoration: none;
	color: white;
}

.github-details {
	font-size: 0.8rem;
}

#resume-download-card {
	font-size: 1.5rem;
}

/* Github Project Style Two: Electric Boogaloo */

/* Responsive Web stuff goes below this comment */
