
@import url('main.css');

/* 

? Credits:

? Icons taken from flaticon.com:

* Azland Studio -> sidebar button icon
* ariefstudio -> close button for the tabs
* Freepik -> pin icon used for tab
* Pixel perfect -> settings gear icon

* Dimitry Miroliubov -> PDF file icon

*/

:root {
	--taskbarHeight: 45px;
	--hoverColor: #FFFFFF0F;
	--hoverBorder: #FFFFFF10;
	--activeColor: #92acff23;
	--activeBorder: #92acff50;
}

#loading-screen {
	position: absolute;
	font-family: "bender", monospace;
	background-color: black;
	width:100vw;
	height:100vh;
	z-index:100;
}

#loading-screen * {
	margin: 65px;
	user-select: none;
	-moz-user-select: none;
}

#loading-screen h1 {
	font-size: 5rem;
}

/* loadign spinner icon taken from https://css-loaders.com/spinner/ */
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: white #0000;
  animation: l1 0.75s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

.desktop-empty {
	z-index: 1;
	margin: 8px;
	width: 75px;
}

.desktop-app {
	z-index:1;
	margin: 8px;
	width:75px;
	background: none;
	border: 1px solid transparent;
}

.desktop-app img {
	height:35px;
	width: 35px;
	margin: 5px;
	user-select: none;
	-moz-user-select: none;
}

.desktop-app p {
	color: white;
	font-size: 80%;
	margin-bottom:5px;
	line-height: 1.2;
}

.desktop-app:hover {
	border: 1px solid var(--hoverBorder);
	background-color:var(--hoverColor);
}

.desktop-app:active {
	border: 1px solid var(--activeBorder);
	background-color:var(--activeColor);
}

#desktop-window {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  /* border: 1px solid #d3d3d3; */
	border-radius: 5px;
  text-align: center;
	color:black;
}

#desktop-window-header {
  padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: white;
}

.taskbar {
	height: var(--taskbarHeight);
	background-color: black;
}

#start-button {
	width: var(--taskbarHeight);
	height:var(--taskbarHeight);
	margin:0;
	border: none;
	background: none;
}

#start-button span {
	width:100%;
	height: 100%;
	color: white;
	font-family: 'bender', monospace;
}

#start-button:hover {
	background-color: #FFFFFF15;
}