
@import url('main.css');

/* 

? Credits:

? Icons taken from flaticon.com:

* Freepik -> Desktop Icons, Taskbar Gmail Icon
* riajulislam -> Taskbar Linkedin Icon
* Pixel perfect - Taskbar Github Icon

*/

:root {
	--taskbarHeight: 45px;
	--hoverColor: #FFFFFF0F;
	--hoverBorder: #FFFFFF10;
	--activeColor: #92acff23;
	--activeBorder: #92acff50;

	--desktopWindowRadius: 8px;
}

#loading-screen {
	position: absolute;
	font-family: "bender", monospace;
	background-color: black;
	width:100vw;
	height:100vh;
	z-index:9999;
	transition: opacity ease-in-out 1s;
}

#loading-screen * {
	margin: 65px;
	user-select: none;
	-moz-user-select: none;
}

#loading-screen h1 {
	font-size: 5rem;
}

#loading-pfp {
	height: 270px;
	transition: opacity ease-in-out 0.5s;
}

/* loadign spinner icon taken from https://css-loaders.com/spinner/ */
/* HTML: <div class="loader"></div> */
.loader {
	width: 40px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 8px solid;
	border-color: white #0000;
	animation: l1 0.75s infinite;
	transition: opacity ease-in-out 0.5s;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

.desktop-empty {
	z-index: 1;
	margin: 8px;
	width: 75px;
}

.desktop-app {
	z-index:1;
	margin: 8px;
	width:75px;
	background: none;
	border: 1px solid transparent;
	text-decoration: none;
}

.desktop-app img {
	height:35px;
	width: 35px;
	margin: 5px;
	user-select: none;
	-moz-user-select: none;
}

.desktop-app p {
	color: white;
	font-size: 80%;
	margin-bottom:5px;
	line-height: 1.2;
	text-align: center;
	user-select: none;
	-moz-user-select: none;
}

.desktop-app:hover {
	border: 1px solid var(--hoverBorder);
	background-color:var(--hoverColor);
}

.desktop-app:active {
	border: 1px solid var(--activeBorder);
	background-color:var(--activeColor);
}

.desktop-app-selected {
	border: 1px solid var(--activeBorder);
	background-color:var(--activeColor);
}

.desktop-window {
	position: absolute;
	display:flex;
	flex-flow: column;
	z-index: 9;
	background-color: rgb(35, 39, 43);
	border-radius: var(--desktopWindowRadius);
	border: 1px solid black;
	color:black;
	overflow:hidden;

	scrollbar-width: thin;
	scrollbar-color: rgb(35, 39, 43) white;

	transition: opacity ease-in-out 80ms;

	font-family: 'unageo'
}

.desktop-window-header {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-content:center;
	height:40px;
	cursor: move;
	background-color: rgb(35, 39, 43);
	color: white;

	border: 0px 0px 1px 0px black solid;

	cursor:grab;
	cursor:-moz-grab;
	cursor:-webkit-grab;

	font-weight: bold;
}

.desktop-window-header:active {
	cursor:grabbing;
	cursor:-moz-grabbing;
	cursor:-webkit-grabbing;
}

.desktop-window-header span {
	margin-top:-2px;
}

.desktop-window-header span, .desktop-window-icon {
	-moz-user-select: none;
	user-select: none;
	pointer-events: none;
}

.desktop-window-content {
	background-color: #f1f1f1;
	font-family: "unageo";
	font-size: 1.1rem;
}

.close-window {
	padding: 6px;
}

.close-window img {
	filter: invert(100%);
}

.close-window:hover {
	filter: brightness(0) saturate(100%) invert(58%) sepia(67%) saturate(4522%) hue-rotate(323deg) brightness(101%) contrast(105%);
}


.taskbar {
	height: var(--taskbarHeight);
	background-color: black;
}

#start-button {
	width: var(--taskbarHeight);
	height:var(--taskbarHeight);
	margin:0;
	border: none;
	background: none;
}

#start-button span {
	width:100%;
	height: 100%;
	color: white;
	font-family: 'bender', monospace;
}

#start-button:hover {
	background-color: #FFFFFF15;
}

.taskbar-icon {
	background-color:black;
	transition: background-color ease-in-out 5ms;
}

.taskbar-icon:hover {
	background-color: #FFFFFF15;
}

.taskbar-icon img {
	user-select: none;
	-moz-user-select: none;
}

#taskbar-time p {
	user-select: none;
	-moz-user-select: none;
	font-size: 0.8rem;
}


#about-header {
	font-family: 'bender';
	color: white;
	background:url('../images/webres_bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	border-radius: 8px 8px 0px 0px;
}

#about-content {
	background: #dee2e6;
	border-radius: 0px 0px 8px 8px;
	
	height: 30rem;
}

/* Github Project Style One:  */

.github-card {
	background-color: #393E46;
	border: 1px solid #222831;

	color: white;
	border-radius: 6px;
}

.github-card-button {
	background-color: #5C8374;
	border: 1px solid #9EC8B9;
	border-radius: 4px;

	text-decoration: none;
	color: white;
}

#github-date {
	font-size: 0.8rem;
}

/* Github Project Style Two: Electric Boogaloo */

/* Responsive Web stuff goes below this comment */
